# Folder dependencies yang diinstal oleh NPM
/node_modules

# File Environment Variables (Sangat penting untuk keamanan!)
.env

#framework
framework.txt

#test
test.html

#database
db.sql

# Log atau file build/dist
/logs
/dist